.recipe{
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(143, 143, 143);
    margin: 20px ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
     
    background-color: white;


}